.btn-social {
  height: 3.5rem;
}
.btn-fix {
  height: 3.5rem;
  padding-top: .875rem;
  padding-bottom: .875rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.btn-lg-fix {
  height: 4.0625rem;
  line-height: 1.9375rem;
}
