.checkout {
  .checkout-progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
      position: absolute;
      top: 50%;
      right: .625rem;
      left: .625rem;
      display: block;
      margin-bottom: 1px;
      content: "";
      border-bottom: 1px solid $light;
    }
  }

  .checkout-progress-dark {
    &::after {
      border-color: $primary;
    }
  }

  .checkout-progress-item {
    position: relative;
    z-index: 5;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $primary;
    border: 1px solid $light;
    border-radius: 50%;

    &.finish {
      background-color: $light;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: .75rem;
        height: .375rem;
        content: "";
        border-bottom: 2px solid $primary;
        border-left: 2px solid $primary;
        transform: translate(3px, 4px) rotate(-45deg);
      }
    }

    &.finish-dark {
      background-color: $primary;
      border-color: $primary;
      &::after {
        border-color: $light;
      }
    }

    &.active {
      &::after {
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 10;
        width: .875rem;
        height: .875rem;
        content: "";
        background-color: $light;
        border-radius: 50%;
      }
    }
  }
}
