.input-group {
  height: 3.5rem;

  .input-group-prepend .material-icons {
    font-size: 1.5rem;
  }

  .input-group-append {
    width: 4rem;
  }

  input::placeholder {
    color: $secondary;
  }
}
