.pagination {
  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.75rem;
    height: 3.75rem;
  }

  // 例外
  .material-icons {
    font-size: 1.25rem;

    &.reverse {
      transform: scaleX(-1);
    }
  }
}
