.word-column {
  writing-mode: vertical-rl;
}

.swiper {
  overflow: hidden;
  overflow-x: scroll;
  @include media-breakpoint-up(lg) {
    overflow: visible;
  }
}

.ic-facebook {
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 50%;
  }
}
.ic-google {
  width: 90%;
  padding-top: .25rem;
  @include media-breakpoint-up(md) {
    height: 70%;
    padding-top: 0;
  }
}
.ic-yahoo {
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 50%;
  }
}
