<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <%- include('layout/_head.ejs', { pageTitle: '購物車｜Sweetaste' }) %>

  <body>
    <%- include('layout/_navbar.ejs', { navLink: '購物車' }) %>

    

    <%- include('layout/_footer.ejs') %>

    <%- include('layout/_scripts.ejs') %>
  </body>

</html>
