<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <%- include('views/_head.ejs', { pageTitle: '購物車｜Sweetaste' }) %>

  <body>
    <%- include('views/_navbar.ejs', { navLink: '購物車' }) %>

    

    <%- include('views/_footer.ejs') %>

    <%- include('views/_scripts.ejs') %>
  </body>

</html>
