<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <%- include('layout/_head.ejs', { pageTitle: '購物車｜Sweetaste' }) %>

  <body>
    <%- include('layout/_navbar.ejs', { navLink: '購物車' }) %>

    <section class="mt-0 mt-md-45 mb-md-60">
      <div class="container">
        <div class="row">
          <div class="col-md-8 px-0 px-md-10">
            <h4 class="text-center text-primary bg-light py-16 mb-30 mb-md-8">您的購物車</h4>
            <div class="d-none d-md-block">
              <div class="cart-list">
                <div class="cart-list-img" style="background-image: url('https://bit.ly/2QvsT63')"></div>
                <div class="cart-list-text">
                  <h5>焦糖馬卡龍</h5>
                  <span>NT$ 450</span>
                </div>
                <div class="cart-list-input-group">
                  <button type="button" class="btn btn-outline-primary">-</button>
                  <input type="text" min="1" max="99" value="2">
                  <button type="button" class="btn btn-outline-primary">+</button>
                </div>
                <div class="cart-list-subtotal">
                  <h5><strong>NT$ 900</strong></h5>
                </div>
                <div class="cart-list-del">
                  <a href="#" class="cart-list-del-control">
                    <i class="material-icons">delete_outline</i>
                  </a>
                </div>
              </div>
              <div class="cart-list">
                <div class="cart-list-img" style="background-image: url('https://bit.ly/2zBDAxX')"></div>
                <div class="cart-list-text">
                  <h5>焦糖馬卡龍</h5>
                  <span>NT$ 450</span>
                </div>
                <div class="cart-list-input-group">
                  <button type="button" class="btn btn-outline-primary">-</button>
                  <input type="text" min="1" max="99" value="2">
                  <button type="button" class="btn btn-outline-primary">+</button>
                </div>
                <div class="cart-list-subtotal">
                  <h5><strong>NT$ 900</strong></h5>
                </div>
                <div class="cart-list-del">
                  <a href="#" class="cart-list-del-control">
                    <i class="material-icons">delete_outline</i>
                  </a>
                </div>
              </div>
              <div class="cart-list">
                <div class="cart-list-img" style="background-image: url('https://bit.ly/2zKOP7w')"></div>
                <div class="cart-list-text">
                  <h5>焦糖馬卡龍</h5>
                  <span>NT$ 450</span>
                </div>
                <div class="cart-list-input-group">
                  <button type="button" class="btn btn-outline-primary">-</button>
                  <input type="text" min="1" max="99" value="2">
                  <button type="button" class="btn btn-outline-primary">+</button>
                </div>
                <div class="cart-list-subtotal">
                  <h5><strong>NT$ 900</strong></h5>
                </div>
                <div class="cart-list-del">
                  <a href="#" class="cart-list-del-control">
                    <i class="material-icons">delete_outline</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-block d-md-none px-30">
              <div class="cart-list">
                <div class="row">
                  <div class="col-6 pr-8">
                    <div class="cart-list-img" style="background-image: url('https://bit.ly/2QvsT63')"></div>
                  </div>
                  <div class="col-6 pl-8">
                    <div class="cart-list-text">
                      <h5 class="mb-0">焦糖馬卡龍</h5>
                      <span class="mb-8">NT$ 450</span>
                    </div>
                    <div class="cart-list-input-group">
                      <button type="button" class="btn btn-outline-primary">-</button>
                      <input type="text" min="1" max="99" value="2">
                      <button type="button" class="btn btn-outline-primary">+</button>
                    </div>
                  </div>
                  <div class="col-12 py-8 mt-8 mb-30 border-top border-bottom border-light text-right">
                    <h5 class="mb-0"><strong>NT$ 900</strong></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 pr-8">
                    <div class="cart-list-img" style="background-image: url('https://bit.ly/2zBDAxX')"></div>
                  </div>
                  <div class="col-6 pl-8">
                    <div class="cart-list-text">
                      <h5 class="mb-0">焦糖馬卡龍</h5>
                      <span class="mb-8">NT$ 450</span>
                    </div>
                    <div class="cart-list-input-group">
                      <button type="button" class="btn btn-outline-primary">-</button>
                      <input type="text" min="1" max="99" value="2">
                      <button type="button" class="btn btn-outline-primary">+</button>
                    </div>
                  </div>
                  <div class="col-12 py-8 mt-8 mb-30 border-top border-bottom border-light text-right">
                    <h5 class="mb-0"><strong>NT$ 900</strong></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 pr-8">
                    <div class="cart-list-img" style="background-image: url('https://bit.ly/2zKOP7w')"></div>
                  </div>
                  <div class="col-6 pl-8">
                    <div class="cart-list-text">
                      <h5 class="mb-0">焦糖馬卡龍</h5>
                      <span class="mb-8">NT$ 450</span>
                    </div>
                    <div class="cart-list-input-group">
                      <button type="button" class="btn btn-outline-primary">-</button>
                      <input type="text" min="1" max="99" value="2">
                      <button type="button" class="btn btn-outline-primary">+</button>
                    </div>
                  </div>
                  <div class="col-12 py-8 mt-8 mb-30 border-top border-bottom border-light text-right">
                    <h5 class="mb-0"><strong>NT$ 900</strong></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 px-0 px-md-10">
            <div class="cart-summary">
              <h4 class="cart-summary-title">訂單摘要</h4>
              <hr class="border-light my-0 d-none d-md-block">
              <div class="row py-16">
                <div class="col-12 d-flex justify-content-between mb-8">
                  <span>小計</span>
                  <span>NT$ 2,700</span>
                </div>
                <div class="col-12 d-flex justify-content-between mb-8">
                  <span>運費</span>
                  <span>NT$ 300</span>
                </div>
                <div class="col-12 d-flex justify-content-between mt-8">
                  <span class="h5 mb-0">總計</span>
                  <span class="h5 mb-0">NT$ 3,000</span>
                </div>
              </div>
            </div>
            <a href="delivery.html" class="btn btn-block btn-lg btn-warning btn-checkout text-primary">結帳</a>
          </div>
        </div>
      </div>
    </section>

    <%- include('layout/_footer.ejs') %>

    <%- include('layout/_scripts.ejs') %>
  </body>

</html>
