<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <%- include('layout/_head.ejs', { pageTitle: '甜點' }) %>

  <body>
    <%- include('layout/_navbar.ejs', { navLink: '甜點' }) %>

    <section class="header container p-0 p-md-10 mb-30 mb-lg-60">
      <div class="header-banner" style="background-image: url('https://bit.ly/2Qodh3Z');">
        <img src="static/lg-想吃甜點是不需要理由的.svg" alt="lg-想吃甜點是不需要理由的" class="header-slogan">
      </div>
    </section>

    <section class="container mt-n30 mt-md-0 mb-30 mb-lg-60">
      <div class="row">
        <div class="col-md-4 px-0 px-md-10 mb-30 mb-md-0">
          <div class="list-group">
            <h4 class="list-group-item list-group-title">甜點類別</h4>
            <a href="#" class="list-group-item list-group-item-action active">所有甜點（48）</a>
            <a href="#" class="list-group-item list-group-item-action">本日精選（10）</a>
            <a href="#" class="list-group-item list-group-item-action">人氣推薦（26）</a>
            <a href="#" class="list-group-item list-group-item-action">新品上市（12）</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-12 col-md-6 mb-30">
              <div class="card border-0">
                <div class="card-img" style="background-image: url('https://bit.ly/2QiWeQW');">
                  <div class="card-tag">本日精選</div>
                  <div class="card-pin">
                    <i class="material-icons">favorite_border</i>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="row no-gutters text-center">
                    <div class="col-6 border-left border-right border-light">
                      <p class="card-title text-primary">焦糖馬卡龍</p>
                    </div>
                    <div class="col-6 border-right border-light">
                      <p class="card-price text-primary">NT$ 450</p>
                    </div>
                    <button class="card-btn btn btn-light btn-lg btn-block text-primary">加入購物車</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-30">
              <div class="card border-0">
                <div class="card-img" style="background-image: url('https://bit.ly/2zBjQuq');">
                  <div class="card-tag">本日精選</div>
                  <div class="card-pin">
                    <i class="material-icons">favorite_border</i>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="row no-gutters text-center">
                    <div class="col-6 border-left border-right border-light">
                      <p class="card-title text-primary">焦糖馬卡龍</p>
                    </div>
                    <div class="col-6 border-right border-light">
                      <p class="card-price text-primary">NT$ 450</p>
                    </div>
                    <button class="card-btn btn btn-light btn-lg btn-block text-primary">加入購物車</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-30">
              <div class="card border-0">
                <div class="card-img" style="background-image: url('https://bit.ly/2zKOP7w');">
                  <div class="card-tag">本日精選</div>
                  <div class="card-pin">
                    <i class="material-icons">favorite_border</i>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="row no-gutters text-center">
                    <div class="col-6 border-left border-right border-light">
                      <p class="card-title text-primary">焦糖馬卡龍</p>
                    </div>
                    <div class="col-6 border-right border-light">
                      <p class="card-price text-primary">NT$ 450</p>
                    </div>
                    <button class="card-btn btn btn-light btn-lg btn-block text-primary">加入購物車</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-30">
              <div class="card border-0">
                <div class="card-img" style="background-image: url('https://bit.ly/2NcDVuB');">
                  <div class="card-tag">本日精選</div>
                  <div class="card-pin">
                    <i class="material-icons">favorite_border</i>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="row no-gutters text-center">
                    <div class="col-6 border-left border-right border-light">
                      <p class="card-title text-primary">焦糖馬卡龍</p>
                    </div>
                    <div class="col-6 border-right border-light">
                      <p class="card-price text-primary">NT$ 450</p>
                    </div>
                    <button class="card-btn btn btn-light btn-lg btn-block text-primary">加入購物車</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-30">
              <div class="card border-0">
                <div class="card-img" style="background-image: url('https://bit.ly/2zBDAxX');">
                  <div class="card-tag">本日精選</div>
                  <div class="card-pin">
                    <i class="material-icons">favorite_border</i>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="row no-gutters text-center">
                    <div class="col-6 border-left border-right border-light">
                      <p class="card-title text-primary">焦糖馬卡龍</p>
                    </div>
                    <div class="col-6 border-right border-light">
                      <p class="card-price text-primary">NT$ 450</p>
                    </div>
                    <button class="card-btn btn btn-light btn-lg btn-block text-primary">加入購物車</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-30">
              <div class="card border-0">
                <div class="card-img" style="background-image: url('https://bit.ly/2zL5jN7');">
                  <div class="card-tag">本日精選</div>
                  <div class="card-pin">
                    <i class="material-icons">favorite_border</i>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="row no-gutters text-center">
                    <div class="col-6 border-left border-right border-light">
                      <p class="card-title text-primary">焦糖馬卡龍</p>
                    </div>
                    <div class="col-6 border-right border-light">
                      <p class="card-price text-primary">NT$ 450</p>
                    </div>
                    <button class="card-btn btn btn-light btn-lg btn-block text-primary">加入購物車</button>
                  </div>
                </div>
              </div>
            </div>

            <nav class="px-md-10 w-100" aria-label="Commodity navigation">
              <ul class="pagination pagination-lg justify-content-center justify-content-md-end mb-0">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <i class="material-icons reverse">play_arrow</i>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <i class="material-icons">play_arrow</i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <%- include('layout/_footer.ejs') %>

    <%- include('layout/_scripts.ejs') %>
  </body>

</html>
