<footer class="footer">
      <div class="footer-subscription container-fluid bg-primary">
        <div class="container">
          <div class="row justify-content-center bg-primary py-30">
            <div class="col-md-10">
              <div class="row">
                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center mb-30 mb-md-0">
                  <img src="static/logo-light.svg" height="40" alt="Sweetaste" class="mr-20">
                  <div class="footer-sub-text text-light">訂閱你我的甜蜜郵件</div>
                </div>
                <div class="col-12 col-md-6 px-20 px-md-10">
                  <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                      <i class="input-group-text px-20 bg-light border-0 material-icons">email</i>
                    </div>
                    <input type="email" name="email" id="email" class="form-control from-control-lg bg-light border-0 h-100">
                    <div class="input-group-append">
                      <a href="#" class="btn btn-warning d-flex justify-content-center align-items-center w-100">
                        <i class="material-icons">arrow_forward</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-light py-30 px-20 px-md-0">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="footer-section row text-primary">
                <div class="col-md-6 d-flex flex-column justify-content-between">
                  <img src="static/logotype-lg-dark.svg" alt="Sweetaste" class="footer-logo">
                  <div class="mt-10 mt-md-0">
                      07-1234-5678<br>
                      sweetaste@email.com<br>
                      800 高雄市新興區幸福路 520 號<br>
                      <div class="mt-30">
                        <img src="static/ic-line@.svg" alt="LINE" width="32">
                        <img src="static/ic-facebook.svg" alt="Facebook" width="32">
                      </div>
                  </div>
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-end justify-content-md-between align-items-md-end">
                  <img src="static/sm-今天是個吃甜點的好日子.svg" alt="今天是個吃甜點的好日子" class="d-none d-md-block" width="60">
                  <p class="mb-0">© 2018 Sweetaste* All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>